{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section class="menu" id="contacts">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <div class="shop-info">
                        <i class="fa fa-clock-o mb-3"></i>
                        <h1 class="mb-4">Hours of operation</h1>
                        <p>Mon to Fri: 08h:00 - 18h:00</p>
                        <p>Sat to Sun: 08h:00 - 13h:00</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <div class="shop-info">
                        <i class="fa fa-map-marker mb-3"></i>
                        <h1 class="mb-4">Our location</h1>
                        <address>
                            Av.Frei Miguel Contreiras, Nº66<br>
                            Roma-Areeiro, Lisboa, 6666-666
                        </address>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <div class="shop-info">
                        <i class="fa fa-mobile mb-3"></i>
                        <h1 class="mb-4">Get in touch</h1>
                        <p>Phone #: 916-666-666</p>
                        <p>Email: carteldiroma@outlook.com</p>
                    </div>
                </div>
            </div>
            <hr class="mt-5">
        </div>
    </section>
{% endblock %}