{% extends 'website/base.html' %}

{% block main %}
    <section class="formulario">
        <div class="jumbotron text-center" style="background-color: #101D2C">
            <h1 class="display-4" style="font-family: 'Niconne', sans-serif; color: #c69963;">
                Formulário
            </h1>
        </div>
        <p>
        <form method="POST" action="">
            {% csrf_token %}

            {{ form.as_p }}

            <input class="btn mt-4 mb-5 mb-md-0" type="submit" value="Submit">
        </form>
        </p>
    </section>
{% endblock %}