{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section class="menu" id="contacts">
    <div class="container-fluid p-0">
        <div id="products" class="section-heading my-5 text-center">
            <h4 class="text-white"> Our Sweet Desires</h4>
            <h1 class="display-4">Products</h1>
        </div>

        <!-- Row #1 -->
        <div class="row no-gutters">

            <!-- Column set #1 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                <img class="img-fluid" src="{% static 'website/images/cookieSimple800.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                <div class="menu-item-desc">
                    <h6>4.50€</h6>
                    <h1>OG COOKIE</h1>
                    <p>OG Kush vs Soft chewy crunchy chocolate chip cookies</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>

            <!-- Column set #2 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                <img class="img-fluid" src="{% static 'website/images/tarteletteLimao800.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                <div class="menu-item-desc">
                    <h6>30.00€</h6>
                    <h1>SUPER LEMON HAZE TARTELETTE</h1>
                    <p>Super Lemon Haze vs Lemon Tartelette Neque porro quisquam est qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>

            <!-- Column set #3 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                <img class="img-fluid" src="{% static 'website/images/cupcakeCaramel800.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                <div class="menu-item-desc">
                    <h6>15.00€</h6>
                    <h1>AMNESIA HAZE CARAMEL CUPCAKE</h1>
                    <p>Amnesia Haze vs Caramel Cupcake Neque porro quisquam est qui dolorem ipsum quia
                        dolor sit amet, consectetur, adipisci velit</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>
        </div>

        <!-- Row #2 -->
        <div class="row no-gutters">

            <!-- Column set #4 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                <img class="img-fluid" src="{% static 'website/images/menu-item-4.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right">
                <div class="menu-item-desc">
                    <h6>35.00€</h6>
                    <h1>SUPER SKUNK CHOCOLATE FONDANT</h1>
                    <p>Super Skunk vs Chocolate Fondant Neque porro quisquam est qui dolorem ipsum quia
                        dolor sit amet, consectetur, adipisci velit</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>

            <!-- Column set #5 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                <img class="img-fluid" src="{% static 'website/images/menu-item-5.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                <div class="menu-item-desc">
                    <h6>50.00€</h6>
                    <h1>THE WHITE WIDOW CAKE</h1>
                    <p>White Widow vs The Cake Neque porro quisquam est qui dolorem ipsum quia
                        dolor sit amet, consectetur, adipisci velit</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>

            <!-- Column set #6 -->
            <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                <img class="img-fluid" src="{% static 'website/images/menu-item-6.jpg' %}">
            </div>
            <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                <div class="menu-item-desc">
                    <h6>20.00€</h6>
                    <h1>GELATO BONBONS</h1>
                    <p>Gelato vs Bonbons Neque porro quisquam est qui
                        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                    <a href="#!" class="btn mt3 d-none d-xl-block">Read more</a>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

