{% extends 'website/base.html' %}
{% load static %}
{% block main %}
    <body onload="setup()">
        <div class="container h100">
            <div class="row h100 justify-content-center alig-items-center">
                <div class="box">
                    <h1 id="question-nr">Quizz</h1>
                    <p id="question">Question</p>
                    <input id="text-field-quizz" type="text" class="form-control">
                    <input id="button-quizz" type="submit" value="Submit" class="btn-block"
                        onclick="clickButton()">
                    <p id="points">10 points</p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}