{% extends 'website/base.html' %}
{% load static %}
{% block main %}
    <h1 style="text-align: center">HTML5 e CSS</h1>
    <br><br>
    <hr>
    <br>

    <table>
        <caption style="text-align: center">Elementos HTML5</caption>
        <thead>
        <tr>
            <th>Elementos HTML5</th>
            <th>Usado</th>
            <th>Onde</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&lt;Hx&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Nos titulos | Todas as páginas</td>
        </tr>
        <tr>
            <td>&lt;P&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Em parágrafos | Todas as páginas</td>
        </tr>
        <tr>
            <td>&lt;A&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Marcador de hiperlink | Todas as páginas</td>
        </tr>

        <tr>
            <td>&lt;OL&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Listas ordenadas</td>
        </tr>
        <tr>
            <td>&lt;UL&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Listas não-ordenadas | Todas as páginas (menu)</td>
        </tr>
        <tr>
            <td>&lt;IMG&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Inserir imagens | Todas excepto a página Contactos</td>
        </tr>
        <tr>
            <td>&lt;NAV&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Indica o menu | Todas as páginas</td>
        </tr>
        <tr>
            <td>&lt;FOOTER&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Rodapé | Todas as páginas</td>
        </tr>
        <tr>
            <td>&lt;TABLE&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Define uma tabela | Na página das Definicões e na atual (HTML5 e CSS)</td>
        </tr>
        </tbody>
    </table>

    <br><br>
    <hr>
    <br>

    <table>
        <caption style="text-align: center">Seletores CSS</caption>
        <thead>
        <tr>
            <th>Selectores CSS</th>
            <th>Usado</th>
            <th>Onde</th>
        </tr>
        </thead>

        <tr>
            <td>&lt;UNIVERSAL&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>O seletor universal (*) aplica o estilo a todos os elementos da
                página
            </td>
        </tr>
        <tr>
            <td>&lt;TIPO&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>O seletor de tipo usa o nome do marcador a estilizar</td>
        </tr>
        <tr>
            <td>&lt;CLASSE&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>O seletor de classe associa um nome a um estilo</td>
        </tr>
        <tr>
            <td>&lt;ID&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>O atributo id permite identificar univocamente um elemento
                do HTML
            </td>
        </tr>
        <tr>
            <td>&lt;ATRIBUTO&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Seletores que se aplicam a atributos de elementos</td>
        </tr>
        <tr>
            <td>&lt;PSEUDO-CLASSE&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Seletor associado ao estado de um elemento</td>
        </tr>
        <tr>
            <td>&lt;PSEUDO-ELEMENTO&gt;</td>
            <td><img src="https://img.icons8.com/dusk/30/000000/checkmark--v1.png"/></td>
            <td>Seletor associado em partes de um elemento</td>
        </tr>
    </table>

    <br><br>
    <hr><br><br>

    <table>
        <caption style="text-align: center">Combinadores CSS</caption>
        <thead>
        <tr>
            <th>Combinadores de Seletores CSS</th>
            <th>Usado</th>
            <th>Onde</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&lt;DESCENDENTES&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Todos os tag que estão “dentro” de um tag</td>
        </tr>
        <tr>
            <td>&lt;FILHOS&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Todos os tag que estão “logo dentro" de tag</td>
        </tr>
        <tr>
            <td>&lt;ADJACENTES&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Todos os tag que estão colocados depois de um tag</td>
        </tr>
        <tr>
            <td>&lt;IMEDIATAMENTE ADJACENTES&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Todos os tag que estão colocados “imediatamente” depois de um tag</td>
        </tr>
        <tr>
            <td>&lt;AGRUPADOS&gt;</td>
            <td><img src="https://img.icons8.com/emoji/30/000000/cross-mark-emoji.png"/></td>
            <td>Mudar todos os tag ao mesmo tempo</td>
        </tr>

    </table>
     <img class="img-fluid" src="{% static 'website/images/wordcloudCartel.jpg' %}">

    </tbody>


{% endblock %}